MULESOFT-ESB/conexion_db/com/poc/example/ws/jaxb/wsoutput.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="wsoutput">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="output">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="response"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>